/* stylesheet for resume */

body {
	background-color: #F3EBB8;
	color: #063E04;
	font-family: "Constantia";
}

h1 {
	text-align: center;
	font-family: "Libre Baskerville", serif;
	font-size: 72px;
}

h2 {
	font-family: "Libre Baskerville", serif;
	font-size: 48px;
	text-decoration: underline;
}

h3 {
	font-family: "Libre Baskerville", serif;
	font-size: 32px;
}

li {
	list-style: square;
}

